{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
 	<nav class="navbar navbar-expand-lg navbar-light" id="main-nav-container" role="navigation">
 		<a class="navbar-brand">
			<img src="/sites/default/files/logo.png" alt="This is the logo.">
		</a>
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-toggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
	  	</button>
	  	{% if items %}
	  	<div class="collapse navbar-collapse" id="main-nav-toggler">
			{% if menu_level == 0 %}
		  		<ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="main-nav" {{ attributes }}>
			{% else %}
		  		<ul>
			{% endif %}
			{% for item in items %}
			  	<li class="nav-item"{{ item.attributes }}>
					<a class="nav-link paragraph" href="{{ item.url }}">{{ item.title }}</a>
			  	</li>
			{% endfor %}
			</ul>
		</div>
	</nav>


  {% endif %}
{% endmacro %}